{block head}
<link rel="stylesheet" type="text/css" href="{$basePath}/css/styl.css">



{/block}

{block menu}
<div id = nav>

	<li><a n:href="Profile:" n:if="$user->loggedIn">Profil</a></li>
	<li><a n:href="Sign:out" n:if="$user->loggedIn">Odhlásit se</a></li>
</div>
{/block}
{block content}
<div id = profil>
	<h1>Profil</h1>
	<p>{ifset $userName}Jméno: {$userName}<br/>{/ifset}	
	Email: {$userMail}</br>
	Celková délka běhů: {$runs->Sum("length")} metrů</br>
	Celkově naběháno: {$sumTime}
	</p>
</div>

	<h2 id="profil">Poslední synchronizovaná měření</h2>
	{if count($runs) != 0}
	<table id = pujcky>
	 <tr>
	    	<th>Index</th>
	    	<th>Datum</th>
	    	<th>Popis</th>
	    	<th>Detail</th>
	    </tr>
	{foreach $runs as $run}
	    	<tr>
	    		<td>{$run->id}</td>
	    		<td>{$run->datetime|date:'F j, Y'}</td>
	    		<td>{$run->description}</td>
	    		<td><a n:href="Detail:show $run->id">Detail</a></td>
	    	</tr>
		{/foreach}
</table>
	{else}
	<div id = profil>
	<p>Nebyla sesynchronizována žádná měření.</p>
	</div>
	{/if}
{/block}
