
{block menu}

<div id = nav>
	<li><a n:href="Sign:in">Přihlásit</a></li>
	<li><a n:href="Registration:">Registrovat se</a></li>
</div>
{/block}
{block content}
<div id = profil>
<h1 n:block=title>Přihlásit se</h1>

{control signInForm}
<a n:href="Homepage:">Zpět na hlavní stránku</a>
</div>
{/block}
