{block title}Detail behu{/block}
{block head}


<!-- amCharts javascript sources -->
<script type="text/javascript" src="{$basePath}/js/amcharts.js"></script>
<script type="text/javascript" src="{$basePath}/js/serial.js"></script>
<script type="text/javascript" src="{$basePath}/js/exporting/amexport.js"></script>
<script type="text/javascript" src="{$basePath}/js/exporting/canvg.js"></script>
<script type="text/javascript" src="{$basePath}/js/rgbcolor.js"></script>
<script type="text/javascript" src="{$basePath}/js/exporting/filesaver.js"></script>

<!-- amCharts javascript code -->
<script type="text/javascript">
var chartData = {$data|noescape};
AmCharts.ready(function() {
    // chart code will go here
    var chart = new AmCharts.AmSerialChart();

chart.dataProvider = chartData;
 chart.pathToImages = "../js/images/";
chart.categoryField = "cas";

var graph = new AmCharts.AmGraph();
graph.balloonText ="Actual speed is [[value]] m/s";
graph.valueField = "hodnota";
graph.bullet = "round";
graph.lineColor = "#8d1cc6";
graph.type = "line";

var categoryAxis = chart.categoryAxis;
    categoryAxis.title = "Čas ["+chartData[0].jednotky+"]";

    // value
    var valueAxis = new AmCharts.ValueAxis();
    valueAxis.title="Okamžitá rychlost [m/s]";
    chart.addValueAxis(valueAxis);

var chartScrollbar = new AmCharts.ChartScrollbar();
                chartScrollbar.graph = graph;
                chartScrollbar.scrollbarHeight = 20;
                chartScrollbar.color = "#FFFFFF";
                chartScrollbar.autoGridCount = true;
                chart.addChartScrollbar(chartScrollbar);
chart.addGraph(graph);
chart.write('chartdiv');
});

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnMQwfyFfiqtddvLypuqLdrVSfZCtOYMc&sensor=false"></script>
<script>
function initialize() {
    var data = {$dataMapa|noescape};
    var mapOptions = {
        zoom: 15,
        center: new google.maps.LatLng(data[0].lat, data[0].longt),
        mapTypeId: google.maps.MapTypeId.TERRAIN
    };

    var map = new google.maps.Map(document.getElementById('map_canvas'),
      mapOptions);
    var infowindow = new google.maps.InfoWindow({
    content: " "
    });
    var flightPlanCoordinates = [];
    for (var i =0; i < data.length ; i++) {
        if(i==0){
            var marker = new google.maps.Marker({
                map:map,
                  title: "Zacatek",
                position: new google.maps.LatLng(data[i].lat,data[i].longt)
            });

             makeInfoWindowEvent(map, infowindow, "Zacatek", marker);
        }else if(i == data.length-1){
           var marker = new google.maps.Marker({
            map:map,
             title: "Konec",
            position: new google.maps.LatLng(data[i].lat,data[i].longt)
        });
           makeInfoWindowEvent(map, infowindow, "Konec", marker);
       }


       flightPlanCoordinates.push(new google.maps.LatLng(data[i].lat,data[i].longt));
   }

   var flightPath = new google.maps.Polyline({
    path: flightPlanCoordinates,
    geodesic: true,
    strokeColor: '#FF0000',
    strokeOpacity: 1.0,
    strokeWeight: 3
});

   flightPath.setMap(map);
}


function makeInfoWindowEvent(map, infowindow, contentString, marker) {
  google.maps.event.addListener(marker, 'click', function() {
    infowindow.setContent(contentString);
    infowindow.open(map, marker);
  });
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>
{/block}
{block menu}
<div id = nav>

    <li><a n:href="Profile:" n:if="$user->loggedIn">Profil</a></li>
    <li><a n:href="Sign:out" n:if="$user->loggedIn">Odhlásit se</a></li>
</div>

{/block}
{block content}
<div id = profil>
	<h1>Detail</h1>
	<p>
		Běh započal: {$run->datetime|date:'F j, Y'}<br/>
		Běh trval: {$run->time->h}:{$run->time->i}:{$run->time->s}<br/>
		Délka: {$run->length}m<br/>
		Popis: {$run->description}
	</p>

	<h2>Okamžitá rychlost</h2>
	<div id="chartdiv"></div>
    <h2>Trasa</h2>
    <div id="map_canvas"></div>
</div>
{/block}
