{* This is the welcome page, you can delete it *}
{block head}
<link rel="stylesheet" type="text/css" href="{$basePath}/css/styl.css">
{/block}
{block menu}

<div id = nav>
	<li><a n:href="Sign:in">Přihlásit</a></li>
	<li><a n:href="Registration:">Registrovat se</a></li>
</div>

{/block}


{block content}
<div id="home"> <h1>Lorem impsum</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet congue est. Aenean sollicitudin adipiscing velit a interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sem odio, auctor et pretium ullamcorper, pharetra a velit. Suspendisse interdum dolor felis, at egestas lacus aliquam sed. Sed sit amet imperdiet nibh. Integer eleifend et magna nec pellentesque. Curabitur tellus justo, pulvinar ut rhoncus vel, congue eu nisi. Vivamus ut diam faucibus tortor ullamcorper hendrerit. Donec aliquet urna sit amet est mollis, varius sodales arcu imperdiet. Pellentesque eget orci aliquam, suscipit massa nec, pellentesque tellus. Nam vestibulum sapien non mauris accumsan, vel tempus leo accumsan. Proin porta nisl libero, condimentum convallis lectus pretium dictum. Quisque porta quam eget felis hendrerit consectetur. Praesent mollis placerat tellus vitae varius. Duis ut auctor neque, a scelerisque augue.</p><div>
{/block}
