/***********************************************************************************************************************
 *
 * This file is part of the ${PROJECT_NAME} project

 * ==========================================
 *
 * Copyright (C) ${YEAR} by University of West Bohemia (http://www.zcu.cz/en/)
 *
 ***********************************************************************************************************************
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with
 * the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 *
 ***********************************************************************************************************************
 *
 * ${NAME}, ${YEAR}/${MONTH}/${DAY} ${HOUR}:${MINUTE} ${USER}
 *
 **********************************************************************************************************************/



body {
    max-width: 1440px;
    min-width: 600px;
    height: 100%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

#map_canvas {
        width: 100%;
        height: 400px;
        }
#selector {
    
    
    padding: 5px;
    margin-left: 20%;
    margin-bottom: 2px;
    
}
#home{
    margin-left: 20%;
    margin-right: 20%;
}
#home p{
    text-align:justify;
}
#home h1{
    color: rgb(122, 122, 122);

}
img.center {
    width: 60%;
    display: block;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
}
#logo {
    border: none;
    position: center; 
}
#profil{
    margin-left: 20%;
    margin-right: 20%;
}
#profil p{
    margin-left: 5%;
}
#profil h1{
    color: rgb(122, 122, 122);

}
h2{
    color: rgb(122, 122, 122);
    
}

#chartdiv{
    height: 300px;
    margin-left: 0%;
    margin-right: 0%;
}

#nav {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    color: #333;
    padding: 7px 6px 0;
    background-color: rgb(122, 122, 122);
    background: -webkit-gradient(linear, left top, left bottom, from(darkGray), to(rgb(122, 122, 122)));
    background: -webkit-linear-gradient(top, darkGray, rgb(122, 122, 122));
    background: -moz-linear-gradient(top, darkGray, rgb(122, 122, 122));
    background: -ms-linear-gradient(top, darkGray, rgb(122, 122, 122));
    background: -o-linear-gradient(top, darkGray, rgb(122, 122, 122));
    line-height: 100%;
    display: inline-block;

    border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;

    -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);
    box-shadow: 0 1px 3px rgba(0,0,0, .4);
}


#nav li {
    margin: 0 5px;
    padding: 0 0 8px;
    float: left;
    position: relative;
    list-style: none;
}


#nav a {
    font-weight: bold;
    color: #e7e5e5;
    text-decoration: none;
    display: block;
    padding:  8px 20px;
    margin: 0;

    border-radius: 1.6em;
    -webkit-border-radius: 1.6em;
    -moz-border-radius: 1.6em;
    
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}


#nav a:hover {
    background: #000;
    color: #fff;
}


#nav .current a, #nav li:hover > a {
    background-color: rgb(161, 161, 161);
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(235, 235, 235)), to(rgb(161, 161, 161)));
    background: -webkit-linear-gradient(top, rgb(235, 235, 235), rgb(161, 161, 161));
    background: -moz-linear-gradient(top, rgb(235, 235, 235), rgb(161, 161, 161));
    background: -ms-linear-gradient(top, rgb(235, 235, 235), rgb(161, 161, 161));
    background: -o-linear-gradient(top, rgb(235, 235, 235), rgb(161, 161, 161));
    color: #444;
    

    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);

    text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
}




#pujcky {
	width: 60%;
	margin-left: 20%; 
    margin-right: 20%;
    margin-top: 40px;
    margin-bottom: 40px;

    border-radius: 1.6em;
	-webkit-border-radius: 1.6em;
	-moz-border-radius: 1.6em;
	-ms-border-radius:1.6em;
	-o-border-radius:1.6em;
    table-layout: fixed;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, .8);
  	-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, .8);

	text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
	border-color: #eeeeee;
	border-style: none;
	border-collapse: separate;
	border-spacing: 0;
	overflow: hidden;

}


#pujcky th {
    background-color: #aaaaaa;
	text-align: left;
	padding: .6em;
}


#pujcky tr:nth-of-type(even) {
	background: #eeeeee;
}


#pujcky td {
	padding: .6em;
    
    word-wrap: break-word;
}


#pujcky tr:hover {
	background: #cccccc;
}


#pujcky tr:first-child {
	background: transparent;

}


#pujcky tr:first-child th:first-child {
    -moz-border-radius-topleft: 1.6em;
    -webkit-border-top-top-radius: 1.6em;
    border-top-left-radius: 1.6em;
    background-color: #aaaaaa;
}


#pujcky tr:first-child th:last-child {
    -moz-border-radius-topright: 1.6em;
    -webkit-border-top-right-radius: 1.6em;
    border-top-right-radius: 1.6em;
    background-color: #aaaaaa;
}


#pujcky tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 1.6em;
    -webkit-border-bottom-left-radius: 1.6em;
    border-bottom-left-radius: 1.6em;
}


#pujcky tr:last-child td:last-child {
    -moz-border-radius-bottomright: 1.6em;
    -webkit-border-bottom-right-radius: 1.6em;
    border-bottom-right-radius: 1.6em;
}


#pujcky tr:last-child {
    -moz-border-radius-bottomleft: 1.6em;
    -webkit-border-bottom-left-radius: 1.6em;
    border-bottom-left-radius: 1.6em;
    -moz-border-radius-bottomright: 1.6em;
    -webkit-border-bottom-right-radius: 1.6em;
    border-bottom-right-radius: 1.6em;
}